<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="locale" content="en"/>
        <meta name="robots" content="index,follow"/>
        
        

<meta property="og:title" content="New Key Strengths"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://local.robeco.com:8080/en/key-strengths/new.html"/>
<meta property="og:locale" content="en"/>
<meta property="og:site_name" content="Pure play asset management | Robeco.com"/>

<meta property="article:published_time" content="2019-11-20T11:14:58"/>
<meta property="article:section" content="key strengths"/>


    



    <meta name="twitter:site" content="@robeco"/>
    <meta name="twitter:card" content="summary_large_image" /> 


        
    



        <title>New Key Strengths</title>
        <link rel="canonical" href="http://local.robeco.com:8080/en/key-strengths/new.html"/>
        <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
        <link rel="stylesheet" href="/static/style/style.css?unknown_9f52c9f3d3870cfe63ff19e594b677e7"/>
        
    <script type="application/javascript">
        window.utag_data = {
        	"page_url": "\/en\/key-strengths\/new.html",
			"page_id": 21280,
			"page_type": "Key strengths",
			"page_name": "New Key Strengths",
			"site_country": "Global",
			"site_language": "EN",
			"sitesection": "key strengths",
	        "fund_info": "",
            "ia_event": ""
        };
        
        window.utag_cfg_ovrd = window.utag_cfg_ovrd || {};
        window.utag_cfg_ovrd.dom_complete = true;
        

        (function(data) {
                	var keys = Object.keys(data);
                	for (var i = 0; i < keys.length; i += 1) {
                		utag_data[keys[i]] = data[keys[i]];
                	}
                })({});
    </script>



        
    <script type="application/javascript">
        var _urconfig={
        	sid: "b3910a59-6574-45dc-a5f3-e11c476243d7",
        	aip: 2,
        	usePageProtocol: false
        };
        
        (function(d, s) {
            var js = d.createElement(s),
            sc = d.getElementsByTagName(s)[0];
            js.src = "https://hit.uptrendsdata.com/rum.min.js";
            js.async = "async";
            sc.parentNode.insertBefore(js, sc);
        }(document, "script"));
    </script>


        <script src="/static/script/main.js?unknown_9f52c9f3d3870cfe63ff19e594b677e7"></script>
        <script src="/test/scripts/utagdummy.js?unknown_9f52c9f3d3870cfe63ff19e594b677e7"></script>
        <script>__extendUtag();</script>
         
        
        
        <link rel="stylesheet" href="/static/style/prototype.css"/>
</head>
    <body data-ng-app="app">

        
        <div data-addsearch="include" style="display: none">globalen</div>
        
        
        <script>
(function(){
var label = __require('labels');
label.register('header.search.noresults', 'No results');
label.register('header.search.notavailable', 'Not available');
})();
</script>

<nav class="navbar navbar-default" data-ng-controller="ngRobNavigationController" data-id="17">
    <span class="navbar-lines"></span>
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/en/" title="Robeco - The Investment Engineers">
                <img src="/static/images/robeco-logo-small.svg" alt="Robeco Logo"/>
            </a>
            <button class="btn-menu-open" data-ng-click="openMenu()"></button>
            <button class="btn-search-open" data-ng-click="openSearch()"></button>
        </div>

        <div class="navbar-wrapper">

             <ul class="nav navbar-nav navbar-left">
                <li class=" ">
                    <a href="/en/insights/">Insights</a>
                </li>
                <li class=" ">
                    <a href="/en/funds/">Funds</a>
                </li>
                <li class=" ">
                    <a href="/en/strategies/">Strategies</a>
                </li>
                <li class="active hidden-sm">
                    <a href="/en/key-strengths/">Key strengths</a>
                </li>
                <li class=" hidden-sm">
                    <a href="/en/about-us/">About us</a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg  hidden-sm">
                    <a href="/en/media/index.html">Media</a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg  hidden-sm">
                    <a href="/en/careers/index.html">Careers</a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg  hidden-sm">
                    <a href="/en/about-us/contact/">Contact</a>
                </li>
                <li class="dropdown hidden-xs hidden-md hidden-lg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">more...</a>
                    <ul class="dropdown-menu">
                        <li class=" hidden-sm">
                            <a href="/en/insights/">Insights</a>
                        </li>
                        <li class=" hidden-sm">
                            <a href="/en/funds/">Funds</a>
                        </li>
                        <li class=" hidden-sm">
                            <a href="/en/strategies/">Strategies</a>
                        </li>
                        <li class="active ">
                            <a href="/en/key-strengths/">Key strengths</a>
                        </li>
                        <li class=" ">
                            <a href="/en/about-us/">About us</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-language">
                    
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">Global</span>
                        </a>
                        <ul class="dropdown-menu column-3">
                            
                            
                                <li><a href="https://www.robeco.com/au/">Australia</a></li>
                            
                                <li><a href="https://www.robeco.com/be/nl/">Belgi?</a></li>
                            
                                <li><a href="https://www.robeco.com/be/fr/">Belgique</a></li>
                            
                                <li><a href="https://www.robeco.com/de/">Deutschland</a></li>
                            
                                <li><a href="https://www.robeco.com/es/">Espa?a</a></li>
                            
                                <li><a href="https://www.robeco.com/fr/">France</a></li>
                            
                                <li><a href="https://www.robeco.com/hk/zh/">??</a></li>
                            
                                <li><a href="https://www.robeco.com/hk/en/">Hong Kong</a></li>
                            
                                <li><a href="https://www.robeco.com/it/">Italia</a></li>
                            
                                <li><a href="https://www.robeco.com/jp/">??</a></li>
                            
                                <li><a href="https://www.robeco.com/latam/en/">Latin America</a></li>
                            
                                <li><a href="https://www.robeco.com/latam/es/">Am?rica Latina</a></li>
                            
                                <li><a href="https://www.robeco.com/me/">Middle East & Africa</a></li>
                            
                                <li><a href="https://www.robeco.com/nl/">Nederland</a></li>
                            
                                <li><a href="https://www.robeco.com/cn/">??</a></li>
                            
                                <li><a href="https://www.robeco.com/sg/">Singapore</a></li>
                            
                                <li><a href="https://www.robeco.com/ch/en/">Switzerland</a></li>
                            
                                <li><a href="https://www.robeco.com/ch/de/">Schweiz</a></li>
                            
                                <li><a href="https://www.robeco.com/uk/">United Kingdom</a></li>
                            
                                <li><a href="https://www.robeco.com/luxembourg/">Other countries</a></li>
                            
                        </ul>
                    
                </li>
            </ul>

            <button class="btn-menu-close" data-ng-click="closeMenu()"></button>

        </div>

        <div class="navbar-search">
            <form class="navbar-form">
                <div class="form-group">
                    <label for="search-input">Search...</label>
                    <input id="search-input" type="text" class="form-control" data-ng-model="query" data-ng-focus="openSearch()" data-ng-change="search()" placeholder="Search..." autocomplete="off"/>

                    <button type="submit" class="btn-search-submit" title="Search..."></button>
                </div>
                <button type="reset" class="btn-search-close" data-ng-click="closeSearch()">
                    <span>Close</span>
                </button>
            </form>
            <div class="navbar-search-results">
                <div class="container">
                    <div class="navbar-search-results-content" data-ng-rob-search-results>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

        <div class="wrapper">
            
                
                    <div class="container">
    <!-- WL:wl/global/ab-tasty/index -->
    <link rel="stylesheet" type="text/css" media="screen" href="/wl/global/ab-tasty/css/style.css?2" />
<script type="text/javascript" src="//try.abtasty.com/212e254afe4b725ecb452044eec6850f.js"></script>
    <!-- /WL:wl/global/ab-tasty/index -->
</div>
                    
                
            
            
                
                    <div class="container block-keystrengths-hero">
    
    <span class="block-anchor" id="tcm-17-21282"></span>
    <div class="row">
        <div class="col14-xs-14 top">
            <div class="toptitle">Key Strenghts</div>
            <h1>Strenths to support your aims</h1>
            <div class="richtext">Building wealth by combining 
<strong >hard data with human ingenuity</strong> is a contemporary approach</div>
        </div>
        <div class="col14-xs-14 bottom">
            <div class="richtext">Yet it's how Robeco has always worked. Since 1929, our clients have looked to us for innovative evidence-based strategies. This means we share particular expertise in quantitative and sustainability investing. In credit investing, emerging markets and trends, we use the same rigorous approach to exploit opportunities and unlock potential</div>
            

<ul>
	
</ul>
        </div>
        <div class="col14-xs-14 sea-theme" id='sealevel-init'>
            <div id="preload">
                <div class="org">
                    <img id="buoyimg" src="/static/images/keystrengths/buoy.png">
                    <img id="seaimg" src="/static/images/keystrengths/sea.png">
                    <img id="chainimg" src="/static/images/keystrengths/chain.png">
                    <img id="sunimg" src="/static/images/keystrengths/sun.png">
                </div>
                <img id="sea" src="/static/images/keystrengths/sea.png">
                <div id="buoy1" class="buoy"><img src="/static/images/keystrengths/buoy.png"></div>
                <div id="buoy2" class="buoy"><img src="/static/images/keystrengths/buoy.png"></div>
                <div id="buoy3" class="buoy"><img src="/static/images/keystrengths/buoy.png"></div>
                <img id="sun" src="/static/images/keystrengths/sun.png">
            </div> 
        </div>
    </div>
    
    <script src="/static/script/keystrengths-ext.js?unknown_9f52c9f3d3870cfe63ff19e594b677e7" async></script>
</div>

                
                    <div class="container block-text">
	
    <span class="block-anchor" id="tcm-17-21283"></span>
    <div class="row">
        <div class="col14-xs-14">
            
            <h1>We look beneath the surface</h1>
            <div class="richtext">At Robeco, we believe in the power of research. With our leading in-house experts, we peel back the layers and harness the driving forces that will help you build wealth sustainably.</div>
            
            

<ul>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/quant-investing/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Quant","ia_label":"We look beneath the surface","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Quant</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/sustainability-investing/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Sustainability","ia_label":"We look beneath the surface","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Sustainability</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/credits-investing/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Credits","ia_label":"We look beneath the surface","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Credits</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/emerging-markets/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Emerging markets","ia_label":"We look beneath the surface","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Emerging markets</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/sustainability-investing/country-ranking/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Trends","ia_label":"We look beneath the surface","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Trends</a>
		
	</li>
</ul>
            <i class="reveal" data-ng-rob-scroll-down></i>
        </div>
    </div>
</div>
                
                    <div class="container block-text-author">
    
    <span class="block-anchor" id="tcm-17-21288"></span>
    <div class="row">
        <div class="col14-sm-6 col14-sm-offset-1">
            <h2>Driven by data &amp; research</h2>
            <div class="richtext text">Research-based investments are rooted in fact. That's why research is at our code. We interpret fundamental, sustainable and quantitative research in order to deliver solid returns. If we can't prove it, we don't use it.</div>
            <div class="authorInfoWrapper authorImage">
                <picture><img src="/images/3/2/3/32325f156aff58da02b796312335e306_ali-masarwah-thumb_tcm17-10463_150x150.jpg" alt="Izzy Ryan" title="Izzy Ryan"/></picture>
                <div class="authorInfo">
		            <div class="authorName">Izzy Ryan</div>
		            <div class="richtext authorText">Head of Quant Research</div>
		            

<ul>
	<li>
		<a class="btn btn-link"
		href="/en/about-us/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Watch the interview","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Watch the interview</a>
		
	</li>
</ul>
	            </div>
            </div>
            

<ul>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/sustainability-investing/country-ranking/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Quant","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Quant</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/sustainability-investing/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Sustainability","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Sustainability</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/emerging-markets/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Credits","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Credits</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/emerging-markets/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Emerging markets","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Emerging markets</a>
		
	</li>
	<li>
		<a class="btn btn-link"
		href="/en/key-strengths/emerging-markets/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Trends","ia_label":"Driven by data \u0026 research","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Trends</a>
		
	</li>
</ul>
        </div>
    </div>
    
</div>
                
                    <div class="container block-text-author">
    
    <span class="block-anchor" id="tcm-17-21289"></span>
    <div class="row">
        <div class="col14-sm-6 col14-sm-offset-1">
            <h2>Succeeding through sustainabliity</h2>
            <div class="richtext text">A clear view of the future requires you to consider sustainability. At Robeco, we have recognized this as a major value driver for decades, enabling us to identify 
<strong >new opportunities for growth on the upside and anticipate problems</strong> to mitigate downside risk. We integrate ESG across our range and continuously innovate in our search for state-of-the-art sustainable solutions.</div>
            <div class="authorInfoWrapper authorImage">
                <picture><img src="/static/images/error-image.png"/></picture>
                <div class="authorInfo">
		            
		            <div class="richtext authorText">We really have to act now</div>
		            

<ul>
	<li>
		<a class="btn btn-link"
		href="/en/about-us/"
		target="_self" onclick='utag.link({"ia_event":"iaCtaLink","ia_action":"Watch the interview","ia_label":"Succeeding through sustainabliity","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Watch the interview</a>
		
	</li>
</ul>
	            </div>
            </div>
            

<ul>
	
</ul>
        </div>
    </div>
    
</div>
                
            
	        
        </div>
        <footer data-addsearch="exclude">
    <div class="container">
        <div class="row">
            <div class="col14-md-7 hidden-xs hidden-sm">
                <ul class="footer-links">
                    
                        <li>
                            <a href="/en/insights/">Insights</a>
                        </li>
                        <li>
                            <a href="/en/key-strengths/">Key strengths</a>
                        </li>
                        <li>
                            <a href="/en/about-us/contact/">Contact</a>
                        </li>
                        <li>
                            <a href="/en/funds/">Funds</a>
                        </li>
                        <li>
                            <a href="/en/essentials/">Advisor Education</a>
                        </li>
                        <li>
                            <a href="/en/media/">Media</a>
                        </li>
                        <li>
                            <a href="/en/strategies/">Strategies </a>
                        </li>
                        <li>
                            <a href="/en/about-us/">About us</a>
                        </li>
                        <li>
                            <a href="/en/careers/">Careers</a>
                        </li>
                    
                </ul>
            </div>
            <div class="col14-md-7">
                <div class="row">
                    <div class="col14-sm-7">
                        <h4>Visit us on social media</h4>
                        <ul class="footer-social">
                            
                                <li>
                                    
                                        <a href="https://www.facebook.com/robecointernational" target="_blank" class="icon-facebook" onclick='utag.link({"ia_event":"iaSocialClickout","ia_clickto":"Facebook","link_name":"Social Clickout","sitesection":"key strengths"})'></a>
                                    
                                </li>
                                <li>
                                    
                                        <a href="https://twitter.com/robeco" target="_blank" class="icon-twitter" onclick='utag.link({"ia_event":"iaSocialClickout","ia_clickto":"Twitter","link_name":"Social Clickout","sitesection":"key strengths"})'></a>
                                    
                                </li>
                                <li>
                                    
                                        <a href="https://www.linkedin.com/company/robeco" target="_blank" class="icon-linkedin" onclick='utag.link({"ia_event":"iaSocialClickout","ia_clickto":"Linkedin","link_name":"Social Clickout","sitesection":"key strengths"})'></a>
                                    
                                </li>
                            
                        </ul>
                    </div>
                    <div class="col14-sm-7">
						
                    
                        <h4>Stay updated</h4>
                        
                            <a href="/en/insights/forms/robeco-newsletter.html" class="btn btn-primary" onclick='utag.link({"ia_event":"iaCtaButton","ia_action":"Sign up for our newsletter","ia_label":"footer","site_country":"Global","site_language":"EN","sitesection":"key strengths"})'>Sign up for our newsletter</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col14-sm-14 col14-md-7"><p>A consumer? Go to the <a title="Consumer" href="/en/about-us/consumer.html">Robeco consumer websites</a></p></div>
            <div class="col14-sm-14 col14-md-7">
                <ul class="footer-legal">
                    
                        <li>
                            <a href="/en/disclaimer.html">Disclaimer</a>
                        </li>
                        <li>
                            <a href="/en/responsible-disclosure.html">Security</a>
                        </li>
                        <li>
                            <a href="/en/policies.html">Policies</a>
                        </li>
                        <li>
                            <a href="/en/shareholder-rights-directive-2.html">SRDII</a>
                        </li>
                        <li>
                            <a href="/en/customer-complaints-policy.html">Customer complaints</a>
                        </li>
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col14-sm-14 footer-disclaimer"><p>The information contained in the Website is solely intended for professional investors within the meaning of the Dutch Act on the Financial Supervision (Wet op het financi?le toezicht) or persons which are authorized to receive such information under any other applicable laws. <a href="https://www.robeco.com/riam" target="_blank">More information</a> about Robeco Institutional Asset Management B.V. <a href="https://www.robeco.com/luxembourg" target="_blank">More information</a> on Robeco Luxembourg S.A.</p></div>
        </div>
    </div>
    
</footer>

        
        
        
    </body>
<style>
    #prototype-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        display: none;
        z-index: 20000;
    }
    .prototype {
        height: 10000px;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    #prototype-bootstrap-grid {
        position: fixed;
        top: 0px;
        height: 1px;
        width: 100%;
        display: none;
        z-index: 20001;
    }
    #prototype-control{
    	position:fixed;
    	bottom:0;
    	left:0;
    	background:#ddd;
    	border:1px solid #aaa;
    	padding:5px;
    	z-index: 20002;
    }
    #prototype-control input{
    	width:45px;
    }
    #prototype-bootstrap-grid .container,
    #prototype-bootstrap-grid .row,
    #prototype-bootstrap-grid .row > div {
        height: 100%;
        /*padding: 0;*/
    }
    #prototype-bootstrap-grid .row,
    #prototype-bootstrap-grid .row > div {
    	padding: 0;
    }
    #prototype-bootstrap-grid .row > div > div {
        border-left: 1px dashed rgba(0, 255, 255, 127);
        width: 1px;
        height: 20000px;
        position: absolute;
    }
    #prototype-bootstrap-grid .row > div:last-child {
        border-right: 1px dashed rgba(0, 255, 255, 127);
    }
    body > .wrapper,
    .navbar-wrapper,
    .navbar,
    body > .wrapper > .container {
    }
    .prototype.active{
    	display:block;
    	opacity:0.5;
    }
    .prototype {
    	display:none;
        background-image: none;
        background-position-y: 0;
    }
    @media (max-width: 959px) {
        .prototype {
	        background-image: none;
	        background-position-y: 0;
        }    
    }
</style>

<div id="prototype-wrapper">
    <div class="container">
        <div class="row">
            <div class="prototype"></div>
        </div>
    </div>
</div>
<div id="prototype-control">
	<input type="text" value="10" id="overlay-step" /><br />
	<a href="#" id="overlay-up">up</a>
	<a href="#" id="toggle-overlay" class="sg-icon icon-instagram"></a><br />
	<a id="overlay-down" href="#">down</a><br />
</div>
<div id="prototype-bootstrap-grid">
    <div class="container">
        <div class="row">
            <div class="col14-sm-1 hidden-xs"><div></div>1</div>
            <div class="col14-sm-1 hidden-xs"><div></div>2</div>
            <div class="col14-sm-1 hidden-xs"><div></div>3</div>
            <div class="col14-sm-1 hidden-xs"><div></div>4</div>
            <div class="col14-sm-1 hidden-xs"><div></div>5</div>
            <div class="col14-sm-1 hidden-xs"><div></div>6</div>
            <div class="col14-sm-1 hidden-xs"><div></div>7</div>
            <div class="col14-sm-1 hidden-xs"><div></div>8</div>
            <div class="col14-sm-1 hidden-xs"><div></div>9</div>
            <div class="col14-sm-1 hidden-xs"><div></div>10</div>
            <div class="col14-sm-1 hidden-xs"><div></div>11</div>
            <div class="col14-sm-1 hidden-xs"><div></div>12</div>
            <div class="col14-sm-1 hidden-xs"><div></div>13</div>
            <div class="col14-sm-1 hidden-xs"><div></div>14</div>
        </div>
    </div>
</div>

<script>
    (function() {
    	var $ = __require('jquery');
        var showGrid = false;
        var showProto = false;
        if (showGrid) {
            $('#prototype-bootstrap-grid').show();
        }
        if (showProto) {
        	toggleOverlay();
        }
        
        $('#overlay-step').val(parseInt($('#prototype-wrapper .prototype').css('background-position-y')) );
        $('#overlay-step').keyup(function(e){
        	var key = e.which;
        	if(key==38){
        		$('#prototype-wrapper .prototype').css({'background-position-y':'-=1px'});
        		$('#overlay-step').val(parseInt($('#prototype-wrapper .prototype').css('background-position-y')) );
        	}else if(key==40){
        		$('#prototype-wrapper .prototype').css({'background-position-y':'+=1px'});
        		$('#overlay-step').val(parseInt($('#prototype-wrapper .prototype').css('background-position-y')) );
        	}else{
        		$('#prototype-wrapper .prototype').css({'background-position-y':$('#overlay-step').val()+'px'});
        	}
        	
        });
        $('#overlay-up').click(function(){
        	$('#prototype-wrapper .prototype').css({'background-position-y':'-=10px'});
        	$('#overlay-step').val(parseInt($('#prototype-wrapper .prototype').css('background-position-y')) );
        });
        $('#overlay-down').click(function(){
        	$('#prototype-wrapper .prototype').css({'background-position-y':'+=10px'});
        	$('#overlay-step').val(parseInt($('#prototype-wrapper .prototype').css('background-position-y')) );
        });
        $('#toggle-overlay').click(toggleOverlay);
        $(window).keypress(function(e) {
            var key = e.which;
            if(key===111){ // 'o'
            	toggleOverlay();
            }
            if(key===103){ // g
            	$('#prototype-bootstrap-grid').toggle();
            }
        });
        
        function toggleOverlay() {
            if($('.prototype').hasClass('active')){
                $('.prototype').removeClass('active');
                $('#prototype-wrapper').hide();
            }else{
                $('.prototype').addClass('active');
                $('#prototype-wrapper').show();
            }
        }
        
    })();
</script>

</html>
