@charset "UTF-8";
@media screen and (max-width: 959px) {
}@media (min-width: 960px) {
}@media (min-width: 960px) {
}@media (max-width: 959px) {
}@media (min-width: 960px) {
}@media (min-width: 960px) {
}@media (max-width: 959px) {
}@media (max-width: 959px) {
}@media screen and (-webkit-min-device-pixel-ratio: 0) {
}.sea-theme {
  background-image: linear-gradient(#476fb7 0px, #bfdceb 620px, #03265d 622px, #062656 1250px, #001e53);
}
@media screen and (max-width: 1399px) {
  .sea-theme {
    background-image: linear-gradient(#476fb7 0px, #bfdceb 480px, #03265d 482px, #062656 1250px, #001e53);
  }
}
@media screen and (max-width: 1119px) {
  .sea-theme {
    background-image: linear-gradient(#476fb7 0px, #bfdceb 412px, #03265d 414px, #062656 1250px, #001e53);
  }
}
@media screen and (max-width: 959px) {
  .sea-theme {
    background-image: linear-gradient(#476fb7 0px, #bfdceb 70vh, #03265d 71vh, #062656 1250px, #001e53);
  }
}
div.block-keystrengths-hero.container {
  background-color: transparent;
}
div.block-keystrengths-hero > .row {
  position: relative;
}
div.block-keystrengths-hero > .row > .col14-xs-14 {
  position: relative;
  text-align: left;
  padding: 5vh 20px;
}
@media screen and (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 {
    padding: 30px 7.14285714% 50px;
  }
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 {
    padding: 80px 7.14285714% 50px;
    padding-left: 7.14285714%;
    padding-right: 7.14285714%;
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 {
    padding: 101px 7.14285714% 50px;
    padding-left: 10.71428571%;
    padding-right: 10.71428571%;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14.top {
  height: 712px;
  padding-bottom: 0px;
  z-index: 1;
}
@media screen and (max-width: 1399px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top {
    height: 600px;
  }
}
@media screen and (max-width: 1119px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top {
    height: 512px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top {
    height: 100vh;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14.bottom {
  padding-top: 0px;
  z-index: 1;
  padding-left: 21.42857143%;
  padding-right: 21.42857143%;
}
div.block-keystrengths-hero > .row > .col14-xs-14 > .toptitle {
  font-family: "taz-regular", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0px;
}
div.block-keystrengths-hero > .row > .col14-xs-14 > h1 {
  font-family: "taz-light", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 10px;
  width: 500px;
  text-shadow: 0px 0px 40px #fff, 0px 0px 20px #fff;
}
@media screen and (max-width: 1399px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 > h1 {
    font-size: 52px;
    width: 450px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 > h1 {
    font-size: 52px;
    width: 100%;
    max-width: 450px;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14.top > .richtext {
  font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 18px;
  color: #3A2808;
  margin-top: 0;
  width: 500px;
}
@media (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top > .richtext {
    font-size: 22px;
  }
}
@media screen and (max-width: 1399px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top > .richtext {
    width: 450px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.top > .richtext {
    width: 100%;
    max-width: 450px;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14.bottom > .richtext {
  font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14.bottom > .richtext {
    font-size: 22px;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 > ul {
    width: 80%;
    margin-left: 10%;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link {
  padding: 10px;
  text-decoration: none;
  text-align: left;
  border: none;
  font-size: 14px;
}
@media (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link {
    font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
    font-size: 20px;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link:after {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid #D6DFE6;
  border-radius: 50%;
  transition: border-color 0.2s ease-out;
  font-family: "robglobicons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  line-height: 1;
  color: #00A2BD;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E005";
}
@media (min-width: 960px) {
  div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link:after {
    top: -2px;
    width: 26px;
    height: 26px;
    padding-top: 7px;
    margin-left: 6px;
  }
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link.btn-download:after {
  content: "\E00F";
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link.btn-anchor:after {
  content: "\E001";
}
div.block-keystrengths-hero > .row > .col14-xs-14 > ul > li > .btn-link:hover:after {
  border-color: #00A2BD;
}
div.block-keystrengths-hero > .row > .col14-xs-14 > .reveal {
  position: relative;
  bottom: auto;
  top: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
div.block-keystrengths-hero > .row #sealevel-init {
  position: absolute;
  height: 100%;
  padding: 0;
}
div.block-keystrengths-hero > .row #sealevel-init #preload .org {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
div.block-keystrengths-hero > .row #sealevel-init #preload #sea {
  position: absolute;
  width: calc(1400px * 960/1400);
  left: calc(0px * 960/1400);
  top: calc(600px * 960/1400);
  height: calc(598px * 960/1400);
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sea {
    width: calc(1400px * 1120/1400);
    left: calc(0px * 1120/1400);
    top: calc(600px * 1120/1400);
    height: calc(598px * 1120/1400);
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sea {
    width: 1400px;
    left: 0px;
    top: 600px;
    height: 598px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sea {
    top: 70vh;
  }
}
div.block-keystrengths-hero > .row #sealevel-init #preload .buoy {
  position: absolute;
  overflow: hidden;
}
div.block-keystrengths-hero > .row #sealevel-init #preload .buoy > img {
  width: 100%;
}
div.block-keystrengths-hero > .row #sealevel-init #preload #buoy1 {
  width: calc(309px * 960/1400);
  left: calc(970px * 960/1400);
  top: calc(130px * 960/1400);
  height: calc(510px * 960/1400);
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy1 {
    width: calc(309px * 1120/1400);
    left: calc(970px * 1120/1400);
    top: calc(130px * 1120/1400);
    height: calc(510px * 1120/1400);
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy1 {
    width: 309px;
    left: 970px;
    top: 130px;
    height: 510px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy1 {
    left: 50vw;
    width: 37vw;
    height: 65vw;
    top: calc(73.5vh - 65vw);
  }
}
div.block-keystrengths-hero > .row #sealevel-init #preload #buoy2 {
  width: calc(150px * 960/1400);
  left: calc(520px * 960/1400);
  top: calc(380px * 960/1400);
  height: calc(255px * 960/1400);
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy2 {
    width: calc(150px * 1120/1400);
    left: calc(520px * 1120/1400);
    top: calc(380px * 1120/1400);
    height: calc(255px * 1120/1400);
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy2 {
    width: 150px;
    left: 520px;
    top: 380px;
    height: 255px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy2 {
    left: 4vw;
    width: 18vw;
    height: 30vw;
    top: calc(72vh - 30vw);
  }
}
div.block-keystrengths-hero > .row #sealevel-init #preload #buoy3 {
  width: calc(91px * 960/1400);
  left: calc(197px * 960/1400);
  top: calc(475px * 960/1400);
  height: calc(155px * 960/1400);
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy3 {
    width: calc(91px * 1120/1400);
    left: calc(197px * 1120/1400);
    top: calc(475px * 1120/1400);
    height: calc(155px * 1120/1400);
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy3 {
    width: 91px;
    left: 197px;
    top: 475px;
    height: 155px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #buoy3 {
    left: -500px;
  }
}
div.block-keystrengths-hero > .row #sealevel-init #preload #chain {
  opacity: 0;
  position: absolute;
}
div.block-keystrengths-hero > .row #sealevel-init #preload #sun {
  position: absolute;
  width: calc(900px * 960/1400);
  left: calc(0px * 960/1400);
  top: calc(0px * 960/1400);
  height: calc(600px * 960/1400);
}
@media screen and (min-width: 1120px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sun {
    width: calc(900px * 1120/1400);
    left: calc(0px * 1120/1400);
    top: calc(0px * 1120/1400);
    height: calc(600px * 1120/1400);
  }
}
@media screen and (min-width: 1400px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sun {
    width: 900px;
    left: 0px;
    top: 0px;
    height: 600px;
  }
}
@media screen and (max-width: 959px) {
  div.block-keystrengths-hero > .row #sealevel-init #preload #sun {
    left: -40px;
    width: auto;
    height: 70vh;
    max-height: 600px;
  }
}
@media screen and (min-width: 960px) {
  div.block-keystrengths-hero:first-child .reveal {
    display: block !important;
  }
}
div.block-keystrengths-hero ~ div.container {
  background-color: #001e53;
}
div.block-keystrengths-hero ~ .block-text {
  z-index: 1;
}
div.block-keystrengths-hero ~ .block-text.container .row .col14-xs-14 {
  border-bottom: none;
}
div.block-keystrengths-hero ~ .block-text.container .row .col14-xs-14 > h1 {
  font-family: "roboto-regular", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
div.block-keystrengths-hero ~ .block-text.container .row .col14-xs-14 > .richtext {
  font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 18px;
  color: white;
}
@media (min-width: 960px) {
  div.block-keystrengths-hero ~ .block-text.container .row .col14-xs-14 > .richtext {
    font-size: 22px;
  }
}
div.block-keystrengths-hero ~ .block-text.container .row .col14-xs-14 > ul > li > a {
  color: #E09425;
}
div.block-keystrengths-hero ~ .block-text-author.container .row > div .richtext,
div.block-keystrengths-hero ~ .block-text-author.container .row > div .text,
div.block-keystrengths-hero ~ .block-text-author.container .row > div .authorName,
div.block-keystrengths-hero ~ .block-text-author.container .row > div .authorText {
  color: white;
}
.block-text-author {
  position: relative;
  z-index: 1;
  font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 18px;
}
@media (min-width: 960px) {
  .block-text-author {
    font-size: 22px;
  }
}
@media screen and (max-width: 1399px) {
  .block-text-author {
    font-size: 20px;
  }
}
@media screen and (max-width: 959px) {
  .block-text-author {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.block-text-author h2 {
  font-family: "taz-light", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 38px;
}
@media screen and (max-width: 1399px) {
  .block-text-author h2 {
    font-size: 32px;
  }
}
.block-text-author .text {
  margin-bottom: 20px;
}
.block-text-author .authorInfoWrapper {
  min-height: 150px;
  margin-bottom: 10px;
  position: relative;
}
.block-text-author .authorInfoWrapper .authorInfo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.block-text-author .authorInfoWrapper.authorImage {
  padding-left: 180px;
}
.block-text-author .authorInfoWrapper.authorImage img {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0px;
  border-radius: 50%;
}
@media screen and (max-width: 1399px) {
  .block-text-author .authorInfoWrapper {
    min-height: 125px;
  }
  .block-text-author .authorInfoWrapper.authorImage {
    padding-left: 155px;
  }
  .block-text-author .authorInfoWrapper.authorImage img {
    width: 125px;
    height: 125px;
  }
}
.block-text-author ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0px 0px 30px;
}
.block-text-author ul > li {
  margin-bottom: 0px;
}
.block-text-author ul > li > .btn-link {
  padding: 0px;
  padding-top: 10px;
  text-decoration: none;
  text-align: left;
  border: none;
  font-family: "taz-semilight", "Helvetica Neue", Helvetica, Arial, "Language-font", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1399px) {
  .block-text-author ul > li > .btn-link {
    font-size: 18px;
  }
}
.block-text-author ul > li > .btn-link:after {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid #D6DFE6;
  border-radius: 50%;
  transition: border-color 0.2s ease-out;
  font-family: "robglobicons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  line-height: 1;
  color: #00A2BD;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E005";
}
@media (min-width: 960px) {
  .block-text-author ul > li > .btn-link:after {
    top: -2px;
    width: 26px;
    height: 26px;
    padding-top: 7px;
    margin-left: 6px;
  }
}
.block-text-author ul > li > .btn-link.btn-download:after {
  content: "\E00F";
}
.block-text-author ul > li > .btn-link.btn-anchor:after {
  content: "\E001";
}
.block-text-author ul > li > .btn-link:hover:after {
  border-color: #00A2BD;
}
.block-text-author .row > div > ul .btn-link {
  color: #E09425;
}
